* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: background-color 0.3s, color 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #051129;
  background-color: aliceblue;
  /* background-color: rgb(103, 103, 104); */

  /* background-color: var(--secondary-color); */
  color: var(--primary-color);
}

#icon {
  width: 30px;
  cursor: pointer;
  /* color: #000; */
}

:root {
  --primary-color: #000000; /* Black text for light mode */
  --secondary-color: #ffffff; /* White background for light mode */
  --accent-color: aqua; /* Accent color for both modes */
}

.dark-theme {
  --primary-color: white; /* White text for dark mode */
  --secondary-color: #000000; /* Black background for dark mode */
}

.logo {
  position: relative;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar {
  color: var(--primary-color);
}

@media screen and (max-width: 990px) {
  .navbar {
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 2rem 50px;
  }
}

.navbar a {
  color: var(--primary-color);
  display: inline-block;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  animation: slideTop 0.5s ease forwards;
}

.navbar a:hover {
  color: aqua;
}

.text {
  color: aqua;
}

.home {
  color: black;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  color: var(--primary-color);
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: aqua;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 50%;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
  transition: 0.5s ease;
  /* margin: 30px 15px 30px 0; */
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.home-sci a:hover {
  background: aqua;
  color: black;
  box-shadow: 0 0 20px aqua;
}

.btn-box {
  margin-top: 30px;
  display: inline-block;
  padding: 12px 28px;
  background: aqua;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px aqua, 0 0 25px aqua;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.cta-btn {
  padding: 1rem 2rem;
  background: var(--accent);
  color: var(--bg);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 60px;
}

.cta-btn:hover {
  background: transparent;
  color: var(--accent);
  box-shadow: 0 0 20px var(--accent);
}

.images {
  padding-bottom: 20%;
  max-width: 200px;
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.images:hover {
  transform: scale(1.5);
}

/* ABOUT */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 990px) {
  .about {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }

  .about-img img {
    width: 100vh;
    height: 100vh;
  }
}

@media screen and (max-width: 650px) {
  .about {
    grid-template-columns: repeat(1fr);
    padding: 2rem 50px;
  }

  .about-img img {
    width: 30vh;
    height: 30vh;
  }
}

/* .mine { */
/* background-color: white; */
/* color: #000; */
/* } */

.about-img img {
  box-sizing: border-box;
  border-radius: 50%;
  width: 100vh;
  height: 100vh;
  padding: 50px;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.about-text h2 {
  /* color: var(--primary-color); */
  /* color: black; */
  font-size: 60px;
}

.about-text h2 span {
  color: aqua;
}

.about-text h4 {
  /* color: var(--primary-color); */
  /* color: black; */
  font-size: 19px;
  font-weight: 600;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  /* color: var(--primary-color); */
  /* color: black; */
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

/* SERVICES */
#services {
  /* color: black; */
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

@media screen and (max-width: 990px) {
  #services {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  #services {
    grid-template-columns: repeat(2fr);
    padding: 2rem 50px;
  }
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}

.sub-title span {
  color: aqua;
}

.containera {
  padding: 90px;
}

.services-list i {
  color: aqua;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px rgb(9, 163, 214), 1px 1px 40px rgb(27, 247, 247);
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  transform: translateY(-10px);
}

/* .photo {
  width: 200px;
  height: 300px;
} */

.read {
  display: inline-block;
  padding: 12px 28px;
  background: aqua;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px aqua, 0 0 25px aqua;
}

.read:hover {
  box-shadow: 0 0 spx cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.sub-title {
  /* color: #000; */
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
  padding-top: 30px;
}

.sub-title span {
  color: aqua;
}

/* SKILLS */
sectionc {
  background-color: black;
}

.inner-skills {
  padding-top: 20px;
}

.sub-title-header {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
  text-align: center;
  /* color: black; */
  padding: 1rem;
  position: relative;
}

.sub-title-header span {
  color: aqua;
}

.sub-title-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: aqua;
  border-radius: 2px;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  /* color: black; */
  cursor: pointer;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-box:hover > .skill-title::after,
.skill-box:hover > .skill-title::before {
  width: 35px;
}

.skill-box:hover .img-skills {
  transform: translateY(-10px);
}

.skill-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: aqua;
  transition: 0.5s;
}

.skill-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: aqua;
  transition: 0.5s;
}

.skill-title h3 {
  /* color: black; */
  margin-top: 0.5rem;
}

.skill-icon {
  width: 50px;
  z-index: 2;
}

.img-skills {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.img-skills::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: black;
  border-radius: 45px 0 0 45px;
}

@media screen and (max-width: 990px) {
  .container-skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .container-skills {
    grid-template-columns: repeat(1fr);
    padding: 2rem 50px;
  }
}

/* QUALIFICATION*/
.Education {
  /* color: #000; */
  display: flex;
}

.school {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 300px;
  margin-bottom: 50px;
}
.school h2 {
  margin-top: 20px;
  text-decoration-line: underline;
  /* text-outline: 0 0 #000; */
}

.certificate {
  margin-top: 20px;
  margin-left: 200px;
  /* margin-right: 400px; */
  gap: 20px;
}

.certificate h2 {
  margin-top: 20px;
  text-decoration-line: underline;
  /* text-outline: 0 0 #000; */
}

.certificate p {
  margin-bottom: 10px;
}

/* CONTACT */

.CONTACT {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: white; */
}

.input {
  margin-top: 100px;
}

.CONTACT h1 {
  justify-content: center;
  font-size: 40px;
  /* color: black; */
  text-align: center;
  margin-bottom: 10px;
}

.CONTACT form {
  margin-left: 340px;
  width: 600px;
  text-align: center;
}

form .input-box {
  display: flex;
  /* gap: 80px; */
  /* margin-left: 20px; */
  /* margin-right: 60px; */
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid aqua;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  /* color: black; */
  margin: 12px 0;
}

/* .field .item::placeholder {
  color: black;
} */

.field .error-txt {
  font-size: 14.5px;
  /* color: red; */
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

form .textarea-field .item {
  resize: none;
}

form .textarea-field .error-txt {
  margin-top: -10px;
}

form button {
  padding: 12px 32px;
  background: aqua;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px aqua;
  font-size: 16px;
  color: #0d0d0d;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

/* .footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: #333;
} */

footer {
  align-items: flex-end;
  min-height: 100vh;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div {
  display: flex;
  justify-content: space-between;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 05s;
  list-style: none;
  text-decoration: none;
  opacity: 0.75;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

@media screen and (max-width: 990px) {
  footer {
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .container-skills {
    grid-template-columns: repeat(1fr);
    padding: 2rem 50px;
  }
}

/* .black-theme {
  background-color: black !important;
  color: black !important;
} */

